* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*remove underline of link*/
  text-decoration: none;
  /*remove 「・」*/
  list-style: none;
}

.container {
  width: 100%;
  height: 100vh;
  background: lightgray;
}
header {
  position: relative;
  height: 64px;
  width: 100%;
  background: green;
}
.box {
  width: 100px;
  height: 100px;
}
.purple {
  background: purple;
}
.orange {
  background: orange;
}
.yellow {
  position: absolute;
  right: 0;
  /*top: 100px;
  left: 500px;*/
  background: yellow;
}
.red {
  background: red;
}

input {
  width: 500px;
  height: 50px;
}
img {
  position: absolute;
  top: 10px;
  left: 450px;
}
