* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: black;
	list-style: none;
	text-decoration: none;
}
.GlobalContainer {
	max-width: 1200px;
	height: 100vh;
	margin: 0 auto;
	/* background: gray; */
	padding: 10px;
}
header {
	border-bottom: 1px solid lightgray;
}
.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}
.header-top h1 {
	font-size: 10px;
	font-weight: lighter;
}
.header-top li {
	padding-left: 5px;
}
.header-top ul {
	width: 956;
	height: 35px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-top span {
	background-color: skyblue;
	width: 100%;
	height: 32px;
}
.header-bottom {
	/* background: red; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 63px;
}
ul {
	display: flex;
}
.header-bottom li {
	margin-left: 20px;
	font-weight: bold;
}
@media screen and (max-width: 769px) {
	.header-top span {
		display: flex;
	}
	.header-top img {
		display: none;
	}
	.list-menu {
		display: none;
	}
	.menu {
		display: flex;
	}
}
@media screen and (max-width: 1110px) {
	.header-top ul {
		display: flex;
	}
	.menu {
		display: flex;
	}
	.list-menu {
		display: none;
	}
	.menu {
		display: block;
	}
}
.header-bottom li:hover {
	border-bottom: 5px solid black;
}


.mainContainer {
	display: grid;
	grid-template-columns: 1fr 249px;
	gap: 10px;
	padding: 12px 8px 0;
}

@media screen and (min-width: 800px) {
	.logo_menu {
		display: none;
	}
}
@media screen and (max-width: 800px) {
	header li {
		display: none;
	}
}
/* li + li {
	margin-left: 10px;
} */
.img_logo {
	width: 200px;
	height: 200px;
}

.section1 p {
	padding: 10px 0;
	color: blue;
}
.section1 p:hover {
	text-decoration: underline;
}
.section1_end {
	display: flex;
	justify-content: center;
	color: blue;
	font-weight: bold;
}
.section1_end p:hover {
	cursor: pointer;
	text-decoration: underline;
}


.section2 ul {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	margin: 10px 10px;
	gap: 10px;
}
@media screen and (max-width: 958px) {
	.section2 ul {
		grid-template-columns: repeat(6, 1fr);
	}
}
@media screen and (max-width: 810px) {
	.section2 ul {
		grid-template-columns: repeat(5, 1fr);
	}
}
@media screen and (max-width: 755px) {
	.section2 ul {
		grid-template-columns: repeat(4, 1fr);
	}
}
@media screen and (max-width: 600px) {
	.section2 ul {
		grid-template-columns: repeat(3, 1fr);
	}
}
.section2 li {
	width: 123px;
	height: 159px;
	border-radius: 5px;
	border: 1px solid lightgray;
	font-size: 11px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.section2 li p {
	font-size: 11px;
	margin-top: 4px;
	color: black;

}
.section2 img {
	width: 100%;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.section3 a {
	display: flex;
	justify-content: center;
	padding: 24px 0 0;
	margin: 30px;
}
.section3 span {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: orange;
	width: 430px;
	height: 65px;
	font-weight: bold;
	color: white;
}
.section4 div {
	display: flex;
	height: 200px;
}
.content-t {
	border-bottom: 1px solid lightgray;
	margin: 10px;
}
.content-section4 {
	display: flex;
	flex-direction: column;
	padding-left: 15px;
}
span {
	text-align: right;
	font-weight: bold;
}
.section4 img {
	width: 274px;
	height: 154px;
}

nav {
	background: yellow;
}
.mainContainer {
	display: grid;
	grid-template-columns: 1fr 400px;
	gap: 10px;
}
main img {
	width: 100%;
}
section {
	background: white;
}
h2 {
	color: orange;
	border-bottom: 2px solid orange;
	margin: 20px 0;
	padding-bottom: 20px;
	padding-left: 10px;
}
aside {
	/* background: blue; */
	height: 100%;
	padding: 0 20px;
}
.searchformselect {
display: flex;
justify-content: space-between;
}
aside .search2 {
	width: 360px;
	height: 45px;
	display: flex;
	justify-content: space-between;
	border: 1px solid none;
	margin-top: 20px;
}
.section-aside2 img {
	width: 360px;
	height: 140px;
	object-fit: cover;
}
.button-search {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: orange;
	border: 1px solid orange;
	border-radius: 5px;
	width: 80px;
	height: 40px;	
	color: white; 
	
}
.button-footer span {
	width: 430px;
	height: 58px;
	margin: 0 0 30px;
	padding: 15px;
	
}
.button-footer {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}
footer ul {
	display: flex;
	justify-content: center;
	height: 50px;
}
footer img {
	border-radius: 5px;
}
.button-contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 30px 0;
}

h3 {
	margin: 30px 0 10px;
}
footer li + li {
	margin-left: 30px;
}
@media screen and (max-width: 958px) {
  .mainContainer {
		grid-template-columns: 1fr;
  }
}

