@use "_responsive.scss" as *;
.button {
	color: #fff;
	font-size: 14px;
	letter-spacing: 0.08em;
	background-color: #da6b64;
	padding: 1em 1.5em;
	display: inline-block;
	border-radius: 100px;
	@include responsive(lg) {
		font-size: 13px;
	}
    &-md {
        @extend .button;
        font-size: 28px;
        font-weight: 600;
    }
    &-lg {
        @extend .button;
        font-size: 28px;
        font-weight: 600;
        padding: 1.25em 1.5em;
        line-height: 1.5;
        @include responsive(lg) {
			font-size: 20px;
		}
        br{
            display: none;
            @include responsive(sm) {
                display: block;
            }
        }
    }
   
}