/*body {
	background: red;
	background-image: url(main.jpg);

}*/

.hoge {
	color: red;
	height: 300px;
	width: 300px;
	background-size: cover;
}


@media screen and (min-width: 0px) {
	.hoge {
		color: skyblue;
		background-image: url(main.jpg);
	}
}

@media screen and (min-width: 600px) {
	.hoge {
		color: red;
		background-image: url(mainsp.jpg);
	}
}

@media screen and (min-width: 800px) {
	.hoge {
		color: blue;
		background-image: url(main.jpg);
	}
}

@media screen and (min-width: 1000px) {
	.hoge {
		color: green;
		background-image: url(mainsp.jpg);
	}
}
