@mixin responsive ($size) {
    $width: 0;
	@if ($size == lg) {
		$width: 1200px;
	}
	@else if ($size == md) {
		$width: 1000px
	}
    @else if ($size == sm) {
		$width: 800px
	}
    @else if ($size == vsm) {
		$width: 600px
	}
	@media screen and (max-width: $with) {
		@content;
	}
}