* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100hvh;
  background: lightgray;
}
.section-1 {
  .grid-container {
    display: grid;
    // if the window size is less than 400, flex-display: column;
    grid-template-columns: minmax(400px, 1fr) 200px;
    // grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    // grid-template-columns: repeat(auto-fit, minmax(300px,1fr));

    /*--以下装飾--*/
    background-color: #ffffff;
    border: solid 5px #fb6158;
  }

  /*--子要素--*/
  .grid-item {
    font-size: 18px;
    font-weight: bold;
    // text-align: right;
    color: #ffffff;
    // background-color: #1ece50; /*--各アイテム 背景色のみ変更しております--*/
    // padding: 30px;
    box-sizing: border-box;
  }
  .align {
    text-align: center;
  }
  .red {
    background: red;
  }
  .blue {
    background: blue;
  }
  .pink {
    background: pink;
  }
  .green {
    background: green;
  }
}
.section-2 {
  /*--親要素--*/
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));

    /*--以下装飾--*/
    background-color: #ffffff;
    border: solid 5px #fb6158;
  }

  /*--子要素--*/
  .grid-item {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background-color: #1ece50; /*--各アイテム 背景色のみ変更しております--*/
    padding: 30px;
    box-sizing: border-box;
  }
  .red {
    background: red;
  }
  .blue {
    background: blue;
  }
  .pink {
    background: pink;
  }
  .green {
    background: green;
  }
  
}
.section-3 {
  /*--親要素--*/
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

    /*--以下装飾--*/
    background-color: #ffffff;
    border: solid 5px #fb6158;
  }

  /*--子要素--*/
  .grid-item {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background-color: #1ece50; /*--各アイテム 背景色のみ変更しております--*/
    padding: 30px;
    box-sizing: border-box;
  }
  .red {
    background: red;
  }
  .blue {
    background: blue;
  }
  .pink {
    background: pink;
  }
  .green {
    background: green;
  }
  
}
