@use "_reset.scss";

body {
	background-color: white;
}
a {
	color: #000;
	text-decoration: none;
}
.button {
	color: #fff;
	background-color: #000;
	padding: 16px 24px;;
	display: inline-block;
	border-radius: 100px;

}

.container {
	max-width: 1200px;
}

.header {
	background-color: #fff;
	padding: 16px 0;
	.container {
		display: flex;
		margin: 0 auto;
		align-items: center;
	}
	&_logo {
		display: flex;
		gap: 12px;
		align-items: flex-end;
		img {
			height: 32px;
		}
		p {
			font-size: 14px;
			font-weight: 600;
		}
	}
	&_action {
		margin: 0 0 0 auto;
	}
}
main {
	background-color: #ddd;
}
.mainvisual {
	background-image: url(../isara-background.png);
	background-size: cover;
	background-position: center center;
	padding: 80px 0;

	.container {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&_title {
		font-size: 28px;
		font-weight: 700;
		line-height: 1.7em;
		letter-spacing: 0.04em;
	}
	img {
		height: 100px;
		margin: 24px 0 48px;
	}
	&_name {
		font-size: 20px;
		font-weight: 700;
		line-height: 1.2em;
	}

}
footer {
	background-color: #ccc;
}
