* {
	margin: 0;
	padding: 0;
}
html {
	background-color: #ccc;
}
body {
	color: #fff;
	background-color: #000;
	max-width: 375px;
	margin: 0 auto;
}
a {
	color: #fff;
	text-decoration: none;
}
header {
	height: 48px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
}
.header_nav a {
	display: block;
	display: grid;
	place-items: center;
	width: 40px;
	height: 40px;
}
.header_nav a img {
	height: 24px;
	width: 24px;
}

.header_name {
	font-size: 13px;
	text-align: center;
}
.header_action {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 8px;
}
.header_action a {
	/* display: block; */
	display: grid;
	width: 40px;
	height: 40px;
	align-items: center;
}
.header_action a img {
	width: 24px;
	height: 24px;
}
.profile {
	padding: 0 16px;
	margin: 16px 0 0;
}
.profile_head {
	display: flex;
	align-items: center;
	gap: 24px;
}
.profile_head_image img {
	display: block;
	width: 88px;
	height: 88px;
	border-radius: 50%;
}
.profile_head_text {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	flex: auto;
}
.profile_head_count {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

.profile_head_count span {
	font-size: 11px;
	font-weight: normal;
	display: block;
}

.profile_body {
	margin: 8px 0 0;

}
.profile_body_text p {
	font-size: 11px;

}
.profile_body_text p span {
	color: #aaa;
	display: block;

}
.profile_body_text ul {
	list-style-type: none;

}
.profile_body_text ul li {
	font-size: 11px;
	position: relative;

}
.profile_body_text ul li a {
	color: #aaa;
	margin-left: 1.5em;
}
.profile_body_text ul li::before {
	content: "-";
	position: absolute;
	inset: 0 auto auto 0;
}
.profile_body_text a {
	color: #dff1fe;
	font-size: 11px;;
}
.profile_body_follower {
	font-size: 11px;
	display: flex;
	align-items: center;
	margin-top: 8px;
}
.profile_body_follower span {
	color: #ccc;
	display: inline-block;
	margin-left: 1em;
}
.profile_body_follower img {
display: block;
width: 32px;
height: 32px;
border-radius: 50%;
}
.profile_body_action {
	display: grid;
	grid-template-columns: 1fr 1fr auto;
	gap: 6px;
	margin: 16px 0 0;
	
}
.profile_body_action a {
	font-size: 12px;
	display: grid;
	place-items: center;
	height: 32px;
	background-color: #333;
	min-width: 32px;
	border-radius: 8px;
}
.profile_body_action a img {
	height: 16px;
	width: 16px;
}
.profile_body_archive {
	display: flex;
	gap: 16px;
	margin: 16px 0 0;
}
.profile_body_archive img {
	display: block;
	height: 56px;
	width: 56px;
	border-radius: 50%;
	border: 4px solid #000;
	box-shadow: 0px 0 0 1px rgba(255, 255, 255, 0.4);
}
.profile_body_archive span {
	color: #ccc;
	font-size: 11px;
	display: block;
	text-align: center;
	margin: 0.5em 0 0;
}
.tab {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 5px 0 0;
}
.tab a {
	display: grid;
	place-items: center;
	opacity: 0.64;
	border-bottom: 1px solid transparent;
	padding: 8px;
}
.tab a img {
 height: 20px;
 width: 20px;
 margin: 24px 0 0;
 /* border-radius: 50%; */
}
.tab a .is-active {
	opacity: 1;
	border-color: #fff;

}
.post {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1px;
	margin: 1px 0 0;
}
.post img {
	display: block;
	width: 100%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
}
.tabbar {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	margin: 16px 0 0;
	/* background-color: #ccc; */
	position: sticky;
	bottom: 0;
}	
.tabbar a {
	display: grid;
	place-items: center;
	padding: 8px;
}