.parent {
  display: grid;
  place-items: center;
	background: blue;
}

.card {
  width: clamp(23ch, 50%, 46ch);
  display: flex;
  flex-direction: column;
  padding: 1rem;
	background: green;
}

.visual {
    height: 125px;
    width: 100%;
		background: gray;
}