.parent {
    display: grid;
    grid-template-rows: auto 1fr auto;
  
    /* Just for parent demo size */
    height: 100vh;
    /* background-color: pink; */
  }
  header {
    background-color: yellow;
  }
  main {
    background-color: blue;
  }
  footer {
    background-color: green;
  }